<% provide(:title, "About") %>
<h1>About</h1>
<p>CoffeeRun is a web application initially created for students at McGill University. Students can request a beverage and have it delivered directly to their seat in the library. <%= link_to "Sign up now!", signup_path %></p>