<% provide(:title, "About Us") %>

  <h1>About Us</h1>
  <div class="row description">
    <div class="col-md-12">
      <p>Established in 2020, CoffeeRun is a student-led startup proud to serve the McGill University community. We are committed to making the lives of students and faculty more convenient by simplifying the task of getting a coffee.  
      <%= link_to "Click here to join our community!", signup_path %></p>
    </div>
  </div>