<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>Do you have ideas on how we can improve your app experience? We'd love to hear your suggestions! Please feel free to reach us by phone or email. </p>