<% if current_user.admin? %>
<h1>Orders</h1>
<div class="row">
  <div class="col-md-2">
    ORDER STATUS</br>
    Active</br>
    Completed
  </div>
  <div class="col-md-10">
  <%= render 'shared/admin_feed' %>
  </div>
</div>
<% else %>
<h1>Friend Activity</h1>
<div class="row">
  <div class="">
  <%= render 'shared/social_feed' %>
  </div>
</div>
<% end %>