<h1>How to Use CoffeeRun</h1>

<div class="how-step">
  <h1>Step I.</h1>
  <h3>Create and activate your account.</h3>
  <p></p>
</div>

<div class="how-step">
  <h1>Step II.</h1>
  <h3>Add points.</h3>
  <p>Points are used to place orders in the app and can be added using a valid debit/credit card.</p>
</div>

<div class="how-step">
  <h1>Step III.</h1>
  <h3>Place an order and select a dropoff zone.</h3>
  <p>Select your beverage and customize it with special instructions.</br>Identify your location in the library, then place an order through the app.</p>
</div>

<div class="how-step">
  <h1>Step IV.</h1>
  <h3>Delivery.</h3>
  <p>A runner will bring your beverage to the dropoff zone designated in your order.</br>Enjoy! </p>
</div>