<% provide(:title, "Zones") %>

  <h1>Zones</h1>
  <div class="row description center">
    <h3>McLennan Library</h3>
    <%= image_tag("mclennan-6.png", alt: "McLennan Floor 6", height: "300") %>
    <h2>Floor 6</h2>
  </div>