
<% if !user.admin? %>
  <li>
    <%= link_to user.name, user, class: "user-find" %>
    <% if current_user.admin? && !current_user?(user) %>
    <span class="delete">
      <%= link_to "X", user, method: :delete, 
                                  class: "btn btn-danger btn-delete",
                                  data: { confirm: "Are you sure?" } %>
    </span>
    <% end %>
  </li>
<% end %>