<%= form_with(model: @order, local: true) do |f| %>
  <div class="field">
    
    <%= f.select :status, options_for_select([['New', 'New'], 
                                              ['In Progress', 'In Progress'],
                                              ['Complete', 'Complete']], 'New') %>
    
   
  </div>
  <%= f.submit "Update", class: "btn btn-primary" %>
<% end %>