@import "bootstrap-sprockets";
@import "bootstrap";

$dark-gray: #222;
$gray: #555;
$light-gray: #777;
$mid-light-gray: #eaeaea;
$off-white: #fcfcfc;
$bg-gray: #F4F5F4;
$cr-red: #E46464;


@mixin box_sizing { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

body {
  padding-top: 90px;
  background-color: $bg-gray;
  font-family: Didot !important;
}

section { 
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 { 
    margin-bottom: 10px;
  }
}

.justify-content-center {
  display: flex;
  justify-content: center;
}

.justify-content-between {
  display: flex;
  justify-content: space-between;
}

.mt-5 {
  margin-top: 50px;
}

/* typography */

h1, h2, h3, h4, h5, h6 { 
  line-height: 1;
}

h1 {
  font-size: 3em; 
  letter-spacing: -2px; 
  margin-bottom: 30px; 
  text-align: center;
}

h2 {
  font-size: 1.2em; 
  letter-spacing: -1px; 
  margin-bottom: 30px; 
  text-align: center; 
  font-weight: normal; 
  color: $light-gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.btn-tan {
  
  font-size: 18px;
  background: #EEECE8;
  border: 3px solid $cr-red;
  box-sizing: border-box;
  border-radius: 68px;
  font-style: normal;
  line-height: 40px;
  display: flex;
  justify-content: center;
}

.btn-gray {

  font-size: 18px;
  background: $bg-gray;
  border: 3px solid $cr-red;
  box-sizing: border-box;
  border-radius: 68px;
  line-height: 40px;
  display: flex;
  justify-content: center;
  width: 350px;
 
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff; 
  letter-spacing: -1px; 
  padding-top: 9px; 
  font-weight: bold;
  &:hover {
    color: white; 
    text-decoration: none;
  }
}

.navbar {
  background-color: $cr-red;
   a {
    color: white;
  }
}
.navbar-right {
  font-family: Tahoma;
}
.nav > li > a:hover, .nav > li > a:focus, .nav > li > a:active {
    background-color: $cr-red;
}

.navbar .navbar-nav > li.open > a, {
    background-color: $cr-red;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $mid-light-gray; 
  color: $light-gray;
  a { 
    color: $gray;
    &:hover { 
      color: $dark-gray;
    }
  }
  small { 
    float: left;
  }
  ul {
    float: right; 
    list-style: none;
    li { 
      float: left; 
      margin-left: 15px;
    }
  }
}

@media (max-width: 800px) {
  footer {
    small {
      display: block;
      float: none;
      margin-bottom: 1em;
    }
    ul {
      float: none;
      padding: 0;
      li {
        float: none;
        margin-left: 0;
      }
    }
  }
}


aside { 
  section.user_info {
    margin-top: 20px; 
  }
  section {
    padding: 10px 0; 
    margin-top: 20px; 
    &:first-child {
      border: 0;
      padding-top: 0; 
    }
    span {
      display: block; 
      margin-bottom: 3px; 
      line-height: 1;
    }
    h1 {
      font-size: 1.4em; 
      text-align: left; 
      letter-spacing: -1px; 
      margin-bottom: 3px; 
      margin-top: 0px;
    } 
  }
}
  
/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.field label, textarea {
  font-family: Tahoma;
  font-weight: normal;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
#session_remember_me {
  width: auto;
  margin-left: 0;
}
  
/* Users index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 10px;
    border: 1px solid $mid-light-gray;
    border-radius: 10px;
    background-color: $off-white;
    margin-bottom: 10px;
  }
  a {
    color: black;
    font-size: 18px;
    text-decoration: none;
  }
}
  
/* miscellaneous */

.debug_dump { 
  clear: both;  
  float: left;
  margin-top: 45px;
  @include box_sizing; 
}

/* landing page */
.landingA {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: $bg-gray;
  h1 {
    font-size: 8em;
    font-weight: 500;
  }
  h2 {
    font-size: 2em;
    font-weight: 300;
  }
  a {
    color: black;
    text-decoration: none;
  }
}
.how-step {
  margin-top: 30px;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 150px;
  padding-right: 150px;
  background-color: #EEECE8;
  h1 {
    font-size: 2em;
    font-weight: 500;
  }
  h2 {
    font-size: 2em;
    font-weight: 300;
  }
  h3 {
    font-size: 1.5em;
  }
  p {
    margin-top: 15px;
  }
}

.admin-console-section {
  margin-top: 15px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #EEECE8;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  a {
    color: $light-gray;
    text-decoration: none;
  }
  h1 {
    font-size: 2em;
    font-weight: 500;
  }
  h2 {
    font-size: 2em;
    font-weight: 300;
  }
  h3 {
    font-size: 1.5em;
  }
  p {
    margin-top: 15px;
  }
}

.form-container {
  margin-left: 200px;
  margin-right: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #EEECE8;
}

/* landing page logos */
.logos {
  margin-top: 40px;
  margin-bottom: 30px;
}

.description {
  p {
    font-size: 18px;
    font-weight: 400;
  }
}

.profile {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 1em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }
  h3 {
    font-weight: 900;
    font-size: 1.5em;
  }
  h4 {
    color: $gray;
  }
  .profile-stats {
    margin-top: 50px;
  }
}
  
/* orders */

.order-log {
  margin-top: 100px;
}

.orders {
  list-style: none;
  padding: 0;
  li {
    font-family: Verdana;
    padding: 10px 10px;
    margin-bottom: 10px;
    border: 1px solid $mid-light-gray;
    background-color: $off-white;
    border-radius: 10px;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
    a {
      color: black;
      font-size: 18px;
      
    }
  }
  .item {
    font-family: Tahoma;
    font-size: 16px;
    display: block;
  }
  .zone {
    font-size: 14px;
    display: block;
    opacity: 0.75;
  }
  .timestamp {
    color: $light-gray;
    display: block;
    font-style: italic;
  }
  .order-status {
    line-height: 3em;
  }
  .status-new {
    color: #55b55b;
    
  }
  .status-progress {
    color: #556fb5;
  }
  .status-complete {
    color: grey;
  }
}

.new-order {
  border: 1px solid $mid-light-gray;
  background-color: #EEECE8;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  font-size: 18px;
  a {
    color: black;
    margin: 20px;
    &:hover {
      text-decoration: none;
    }
  }
}

.btn-follow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 8%;
}

.btn-status {
  color: green;
}

.btn-delete {
  width: 25px;
  height: 25px;
  
}
.delete {
  margin-left: 10px;
  a {
      display: inline-flex;
      justify-content: center;
      line-height: 0.9em;
      color: white;
      font-size: 16px;
  }
}

.new-user {
  margin-top: 10px;
}


select {
  display: block;
	font-size: 14px;
	font-family: sans-serif;
	font-weight: 200;
	color: #444;
	line-height: 1.2;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin-bottom: 12px;
	border: 1px solid #EEECE8;
	box-shadow: 0 0.8px 0 0.8px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23E46464%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .7em auto, 100%;
  &::-ms-expand {
  	display: none;
  }
}

hr {
  display: block;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  border-style: inset;
}

.my-orders {
 h2 {
   text-transform: uppercase;
   font-size: 12px;
 } 
}

.dash-stat-num {
  display: block;
  font-size: 30px;
}

.dash-stat-label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  opacity: .7;
}

.vendor-stat-num {
  display: inline-block;
  margin-left: 30px;
  font-size: 20px;
}

.vendor-stat-label {
  display: inline-block;
  font-size: 20px;
}

.user-find {
  font-family: Verdana;
}