<footer class="footer">
  <small>
    CoffeeRun ©2020
  </small>
  <nav>
    <ul>
      <li><%= link_to "About Us", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>